# Python virtual environment
.venv/
venv/

# Python cache
__pycache__/
*.py[cod]

# Local SQLite database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment / secrets
.env
.env.*

# VS Code local settings
.vscode/

# Raw/local data
data/raw/*
data/processed/*

# Keep directories in Git
!data/raw/.gitkeep
!data/processed/.gitkeep

# OS files
.DS_Store
Thumbs.db